.dashboard-wrapper {
  display: flex;
  /* justify-content: center;
  align-items: left;
  align-content: left; */
  margin: 0;
  padding: 0;
  background-color: #f3f4fb;
  width: 100%;
  height: 100%;
  color: #242648;
}

.dashboard-sidebar {
  position: fixed;
  height: 100%;
  width: 15%;
  background: #21528d;
  padding: 100px 30px;
  z-index: 11;
}

.dashBoardInformationCard-wrapper {
  display: flex;
  justify-content: space-around;
}

.dashboard-body-wrapper {
  height: 100%;
  width: 100%;

  position: fixed;

  background-color: #f3f4fb;
  z-index: 1;
}

.dashboard-body {
  height: 100%;
  width: 85%;
  margin: 100px 0 100px 15%;
  padding: 20px 50px 200px 50px;
  position: fixed;
  overflow: scroll;
  background-color: #f3f4fb;
}

.dashboard-propertyDetails {
  width: 100%;
  background: #ffffff;
  border: 1px solid #dde0e7;
  border-radius: 5px;
  padding: 20px;
  color: #6e7189;
}

.dashboard-propertyDetails table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

.dashboard-propertyDetails td,
.dashboard-propertyDetails th {
  border: 1px solid #f3f4fb;
  padding: 8px;
  font-size: 14px;
}

.dashboard-propertyDetails th {
  background-color: #f3f4fb;
}

.dashboard-propertyDetails td {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .dashboard-propertyDetails tr:nth-child(even) {
  background-color: #f3f4fb;
} */
